/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/** Medium Zoom */

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

/** Scrollbar */

html::-webkit-scrollbar, pre::-webkit-scrollbar, aside::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb, aside::-webkit-scrollbar-thumb {
  background-color: rgba(var(--catppuccin-surface-0), 0.7);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-track, pre::-webkit-scrollbar-track, aside::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb:hover, pre::-webkit-scrollbar-thumb:hover, aside::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--catppuccin-surface-0), 1);
}

/**
 * Catppuccin Colors
 * -------------------------------------------------------------------------- */

 :root {
  --catppuccin-surface-0: 204, 208, 218;
  --catppuccin-base: 239, 241, 245;
  --catppuccin-mantle: 230, 233, 239;
  --catppuccin-crust: 220, 224, 232;

  --catppuccin-text: 76, 79, 105;

  --catppuccin-blue: 30, 102, 245;
  --catppuccin-red: 210, 15, 57;
  --catppuccin-yellow: 223, 142, 29;

  --vp-c-white: #eff1f5;
  --vp-c-mute: rgb(var(--catppuccin-mantle));

  --catppuccin-code: #1e2030; /* Macchiato mantle */

}

.dark {
  --catppuccin-surface-0: 54, 58, 79;
  --catppuccin-base: 36, 39, 58;
  --catppuccin-mantle: 30, 32, 48;
  --catppuccin-crust: 24, 25, 38;

  --catppuccin-text: 202, 211, 245;

  --catppuccin-blue: 138, 173, 244;
  --catppuccin-red: 237, 135, 150;
  --catppuccin-yellow: 238, 212, 159;
}

:root {
  --vp-c-bg: rgb(var(--catppuccin-base));
  --vp-c-bg-elv: rgb(var(--catppuccin-mantle));

  --vp-c-bg-soft: rgb(var(--catppuccin-base));
  --vp-c-bg-soft-up: rgb(var(--catppuccin-base));

  --vp-sidebar-bg-color: rgb(var(--catppuccin-mantle));

  --vp-code-block-bg: var(--catppuccin-code);

  --vp-c-text-1: rgb(var(--catppuccin-text));
  --vp-c-text-2: rgb(var(--catppuccin-text));
  --vp-c-text-code: rgb(var(--catppuccin-text));

  --vp-c-brand: rgba(var(--catppuccin-blue), 1);
  --vp-c-brand-light: color-mix(in srgb, white 10%, rgb(var(--catppuccin-blue)));
  --vp-c-brand-lighter: color-mix(in srgb, white 35%, rgb(var(--catppuccin-blue)));
  --vp-c-brand-lightest: color-mix(in srgb, white 60%, rgb(var(--catppuccin-blue)));
  --vp-c-brand-dark: color-mix(in srgb, darkblue 15%, rgb(var(--catppuccin-blue)));
  --vp-c-brand-darker: color-mix(in srgb, darkblue 30%, rgb(var(--catppuccin-blue)));
  --vp-c-brand-dimm: rgba(var(--catppuccin-blue), 0.08);

  --vp-button-alt-bg: rgb(var(--catppuccin-mantle));
  --vp-button-alt-hover-bg: color-mix(in srgb, black 5%, rgb(var(--catppuccin-mantle)));
  --vp-button-alt-hover-text: rgb(var(--catppuccin-text));
  --vp-button-alt-hover-border: rgb(var(--catppuccin-crust));
  --vp-button-alt-border: rgb(var(--catppuccin-crust));
  --vp-button-alt-text: rgb(var(--catppuccin-text));

  --vp-custom-block-info-border: rgb(var(--catppuccin-blue));
  --vp-custom-block-info-text: rgb(var(--catppuccin-blue));
  --vp-custom-block-info-text-deep: rgb(var(--catppuccin-blue));

  --vp-custom-block-tip-border: rgb(var(--catppuccin-blue));
  --vp-custom-block-tip-text: rgb(var(--catppuccin-blue));
  --vp-custom-block-tip-text-deep: rgb(var(--catppuccin-blue));

  --vp-custom-block-warning-border: rgb(var(--catppuccin-yellow));
  --vp-custom-block-warning-text: rgb(var(--catppuccin-yellow));
  --vp-custom-block-warning-text-deep: rgb(var(--catppuccin-yellow));

  --vp-custom-block-danger-border: rgb(var(--catppuccin-red));
  --vp-custom-block-danger-text: rgb(var(--catppuccin-red));
  --vp-custom-block-danger-text-deep: rgb(var(--catppuccin-red));
}

.dark {
  --vp-c-bg-soft: rgb(var(--catppuccin-mantle));
  --vp-c-bg-soft-up: rgb(var(--catppuccin-surface-0));

  --vp-c-bg-alt: rgb(24, 24, 37); /* mocha mantle */

  --vp-button-alt-hover-bg: color-mix(in srgb, black 40%, rgb(var(--catppuccin-mantle)));

  --vp-custom-block-info-bg: rgba(var(--catppuccin-blue), 0.15);
  --vp-custom-block-tip-bg: rgba(var(--catppuccin-blue), 0.15);
  --vp-custom-block-warning-bg: rgba(var(--catppuccin-yellow), 0.15);
  --vp-custom-block-danger-bg: rgba(var(--catppuccin-red), 0.15);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-tab-divider: none;
}

.vp-doc .line-numbers-wrapper {
    border-right: none;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * Custom styling
 * -------------------------------------------------------------------------- */

img.circuit {  /* hardware circuit images */
    width: 64%;
    margin: auto;
}

html.dark img.circuit {  /* invert color during dark mode */
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

@media only screen and (max-width: 600px) {
    img.circuit { /* hardware circuit images */
        width: 90%;
    }
}
