/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #8839ef
$textColor = #4c4f69
$borderColor = #e6e9ef
$codeBgColor = #24273a
$badgeTipColor = #8839ef

